<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">Book Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['myquotes']">My Quotes</a>
          </li> 
                
        <ng-container *ngIf="user !== undefined && user?.roles?.includes('Reader')">        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['user/categories']">Category</a></li>
              <li><a class="dropdown-item" [routerLink]="['user/bookposts']">Books</a></li>
              <li><a class="dropdown-item"[routerLink]="['user/citats']"> Quotes</a></li>

            </ul>
          </li>
        </ng-container>
        </ul>
        
        <div class="d-flex">

          <ng-container *ngIf="user === undefined; else showLogout">
           
            <a [routerLink]="['/login']" class="btn btn-dark"> 
                Login
              </a>
            
           
          </ng-container>

          <ng-template #showLogout>
             <div class="d-flex align-items-center">
                <span>{{user?.email}}</span>
                <button class="btn btn-dark ms-3" (click)="onLogOut()">LogOut</button>
             </div>

             <button (click)="toggleTheme()" class="btn btn-outline-dark ms-3">
              Switch Theme
            </button>
          </ng-template>
          
        </div>
      </div>
    </div>
  </nav>